<div class="navbar navbar-default navbar-fixed-top">

    <div class="container">

        <div class="navbar-header">

            <a href="#" class="navbar-brand">
                <i class="fa fa-chrome" aria-hidden="true"></i> &nbsp; Scapic
            </a>
            
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

        <div class="navbar-collapse collapse" id="navbar-main">

            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout" > <i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
            </ul>

        </div>
    </div>
</div>