<% include partials/header %>

    <div class="div-center">

        <h3> <i class="fa fa-chrome" aria-hidden="true"></i> &nbsp; Scapic Hiring</h3>
        
        <br>
        
        <a  href="/google-login" type="button" class="btn btn-danger">
            <i class="fa fa-google" aria-hidden="true"></i> &nbsp; Sign in with Google
        </a>
        
    </div>  

<% include partials/footer %>  