<% include partials/header %>

<!-- Bootstrap Partial -->
<% include partials/nav %>
<div class="container">
<div class="page-header"></div>

<div class="div-center">
    <h3 class="text-success"> <i class="fa fa-check" aria-hidden="true"></i>  &nbsp; Scored <%= score%>/5</h3>
    
    <br>
</div>  


<!-- Bootstrap Partial -->
</div>      
<% include partials/footer %>  